<!DOCTYPE html>

<html>
<head>
    <title>Error 404</title>
    <link rel="icon" href="./images/WeatherPic.jpg">
    <link rel="stylesheet" href="./css/styles.css">
    <body>
        <div class="main_content">
            {{>header}}
            <p>{{Error_Page}}</p>
        </div>
        {{>footer}}
    </body>
</head>

</html>