<!DOCTYPE html>

<html>
<head>
    <title>About AJAN Weather App</title>
    <link rel="icon" href="./images/WeatherPic.jpg">
        <link rel="stylesheet" href="./css/styles.css">
    <body>
        <div class="main_content">
            {{>header}}
            <p>This website is created to fetch weather information from Darksky.net and Geo codes from mapbox.com</p>
            <p>Please make full use of it and enjoy!</p>
        </div>
        <img class="portrait" src="./images/Mypic.jpg">
        {{>footer}}
    </body>
</head>

</html>