<!DOCTYPE html>

<html>
<head>
    <title>About Weather App</title>
    <link rel="icon" href="./images/WeatherPic.jpg">
        <link rel="stylesheet" href="./css/styles.css">
    <body>
        <div class="main_content">
            {{>header}}
            <p></p>
            <img class="portrait" src="./images/Mypic.jpg">
        </div>
        
        {{>footer}}
    </body>
</head>

</html>