<!DOCTYPE html>

<html>
<head>
    <title>Weather App Help</title>
    <link rel="icon" href="./images/WeatherPic.jpg">
        <link rel="stylesheet" href="./css/styles.css">
    <body>
        <div class="main_content">
            {{>header}}
            <p>Call {{phone}} for more details</p>
        </div>
        
        {{>footer}}
    </body>
</head>

</html>